<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footerlogo">
                <img src="/public/img/logo.png"/>
            </div>
            <div class="col-md-8 footercontent">
                <%= language.footer.copyright%><br/>
                <%= language.footer.address%>
            </div>
        </div>
    </div>
</footer>
    



<!-- 반드시 body안에 있어야 작동한다. -->  
    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/style.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/agency.min.js"></script>


  
    

<script>
        
    // a태그 이벤트 
    function mOver(obj) {
        document.getElementById("myImage").src ="/public/img/arrow2.png";
    }
    function mOut(obj) {
            document.getElementById("myImage").src ="/public/img/arrow.png";
    }
      

</script>

   
    
</body>

</html>