

/* ============= Bootstrap customtag ============= */
.btn-primary.active,
.btn-primary:active,
.btn-xl.active,.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl{
    background-image:none;
}

.btn-primary,
.btn-xl,h1,h2,h3,h4,h5,h6{
    font-family: "source-han-sans-japanese", Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
}
.text-muted{color:#777}
.text-primary,a{color:#fed136}
p{
    font-size:14px;
    line-height:1.75;
}
p.large{ font-size:16px; }
a,a.active,a:active,
a:focus,
a:hover{
    outline:0;
}
a.active,
a:active,
a:focus,
a:hover{
    color:#fec503;
}
.img-centered{ margin:0 auto; }
.bg-light-gray{ background-color:#eee; }
.bg-darkest-gray{ background-color:#222; }
.btn-primary{
    color:#fff;
    background-color:#fed136;
    border-color:#fed136
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01;
}



.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover{
    background-color:#fed136;
    border-color:#fed136;
}

.btn-primary .badge{
    color:#fed136;
    background-color:#fff;
}

.btn-xl2{
    color:#fff;
    font-size:18px;
    padding:20px 40px;
    position: relative;
    top: 220px;
}
.btn-xl2 img{
    width: 110%;
}


.btn-xl{
    color:#fff;
    background-color:#fed136;
    border-color:#fed136;
    border-radius:3px;
    font-size:18px;
    padding:20px 40px;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01;
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover{
    background-color:#fed136;
    border-color:#fed136;
}

.btn-xl .badge{
    color:#fed136; background-color:#fff;
}



/* ================ body ================ */

body{
    overflow-x:hidden;
    font-family:"source-han-sans-japanese","Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color:#fed136;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* ========== header ========== */
header{
    background-image:url(/public/img/header-bg2.png);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
    color:#fff;
    width: 100%;
    height: auto;
    position: relative;
}
header .intro-text{
    padding-top:300px;
    padding-bottom:200px
}

header .intro-text .intro-lead-in{
    font-family:"source-han-sans-japanese","Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic; font-size:22px;
    line-height:22px; 
    margin-bottom:25px;
}

header .intro-text .intro-heading{
    font-family:"source-han-sans-japanese",sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight:600;
    font-size:60px;
    line-height:50px;
    margin-bottom:25px;
    margin-top:120px;
}
header .intro-text .intro-heading span{
   font-style: italic;
}

header .intro-text .intro-content{
    font-family:"source-han-sans-japanese",sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
    /*text-transform:uppercase;*/
    font-weight:100; 
    font-size:30px;
    line-height:40px;
}
header #myImage{
    margin-bottom: 150px;
}


 /* header mobile size */
@media all and (max-width: 768px) {
  

    header .intro-text .intro-heading{
        font-family:"source-han-sans-japanese", sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
        font-weight:600;
        font-size:40px;
        line-height:40px;
        margin-bottom:25px;
        margin-top:120px;
    }
    header .intro-text .intro-heading span{
       font-style: italic;
    }
    header .intro-text .intro-content{
        font-family:"source-han-sans-japanese",sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
        font-weight:100; 
        font-size:25px;
        line-height:35px;
        margin-bottom:5px;
    }
    header #myImage{
        margin-bottom: 50px;
    }

}

 /* header tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    
    header .intro-text{
        padding-top:300px
        ;padding-bottom:200px
    }
    header .intro-text .intro-lead-in{
        font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px
    }
    header .intro-text .intro-heading{
        font-family:sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
        font-weight:600;
        font-size:60px;
        line-height:75px;
        margin-bottom:50px
    }
    
    header .intro-text .intro-heading span{
        font-style: italic;
    }
}




/* ============= navbar ============= */
.navbar-custom{
    margin-bottom: 0;
    background-color:black; 
    border-color:transparent;
}
.navbar-header .navbar-brand{
    color:#fed136;
    font-family:"source-han-sans-japanese",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 50px;
}
.navbar-custom .navbar-brand .logoid{
    position: absolute;
    top: 10px;
}

.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover{
    color:#fec503;
}

.navbar-custom .nav li a{
    font-family:"source-han-sans-japanese",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#fff;
    text-transform:uppercase; 
}

.navbar-custom .navbar-collapse{
    border-color:rgba(255,255,255,.02); 
    background-color: black; 
}
.navbar-custom .navbar-toggle{
    background-color:#fed136;
    border-color:#fed136;
    font-size:12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover{
    background-color:#fed136;
}
.navbar-custom .nav li a{
    font-weight:400; 
    letter-spacing:1px;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover{
    color:#fed136;
    outline:0;
}

/* nabvar 액션 */
.navbar-custom .navbar-nav>.active>a{
    border-radius:0;
    color:#fff;
    background-color:#fed136;
}

.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.active>a:hover{
    color:#fff;
    background-color:#fec503;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    font-family: "source-han-sans-japanese",sans-serif,Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight: 800;
}
.open .dropdown-toggle {
    color: #fec503 !important;
    background-color: black !important;
}
.open .dropdown-menu {
    color: #fec503 !important;
    background-color: black !important;
}
.dropdown-menu li a {
    color: #fff !important;    
}
.dropdown-menu li a:hover {
    background-color: #fec503 !important;
}


/* navbar mobile size */
@media all and (max-width: 768px) {
    .navbar-custom{
        background-color:transparent;
        padding:25px 0;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:none
    }
    
    .navbar-custom .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s;
        padding: 15px;
    }
    
    /* ==== @media  nabvar 액션 ==== */
    .navbar-custom .navbar-nav>.active>a{
        border-radius:3px
    }
    .navbar-custom.affix{
        background-color:#222;
        padding:10px 0;
    }
    .navbar-custom.affix .navbar-brand{
        font-size:1.5em
    }
    #korea,
    #English,
    #Japanese {
        cursor: pointer;
    }
}
	
/* navbar tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    .navbar-custom{
        background-color:transparent;
        padding:25px 0;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:none
    }
    
    .navbar-custom .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s;
        padding: 15px;
    }
    
    /* ==== @media  nabvar 액션 ==== */
    .navbar-custom .navbar-nav>.active>a{
        border-radius:3px
    }
    .navbar-custom.affix{
        background-color:#222;
        padding:10px 0;
    }
    .navbar-custom.affix .navbar-brand{
        font-size:1.5em
    }
}

/* ============ side navBar 액션 ============ */

div.page_navi{
    position:fixed; 
    top:50%; right:5%;}
div.page_navi ul{width:14px;}
div.page_navi ul li.nav_btn{
    display:inline-block; 
    width:14px; 
    height:14px; 
    margin-bottom:12px;
}
div.page_navi ul li.nav_btn a{
    display:block;
    width:14px; height:14px; 
    background:url(/public/img/m_dot_nav.png) no-repeat top left;
    text-indent:-7000px;}

/* div.page_navi ul li.nav_btn a:focus, 클릭후 섹션 이동시 활성화 오류원인*/ 
div.page_navi ul li.nav_btn a:hover{
    display:block; 
    width:14px; height:14px; 
    background:url(/public/img/m_dot_nav_a.png) no-repeat top left; 
    text-indent:-7000px;
}

div.page_navi ul li.nav_btn.active a{
    background-position:0 -14px; 
    opacity:1;
    background: url(/public/img/m_dot_nav_a.png) no-repeat top left; 
    text-indent:-7000px;
}

div.page_navi ul li.nav_btn.active a:focus,
div.page_navi ul li.nav_btn.active a:hover{
    background-position:0 -14px; 
    opacity:1;
    background: url(/public/img/m_dot_nav_a.png) no-repeat top left; 
    text-indent:-7000px;
}


@media (min-width:768px){
    
    .navbar-custom{
        background-color:black;
        /* padding:25px 0; */
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:none
    }
    
    .navbar-custom .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s;
        padding: 15px;
    }
    /* ==== @media  nabvar 액션 ==== */
    /*.navbar-custom .navbar-nav>.active>a{
        border-radius:3px
    }
    .navbar-custom.affix{
        background-color:#222;
        padding:10px 0;
    }
    .navbar-custom.affix .navbar-brand{
        font-size:1.5em
    }*/
}




/* ================= section ================= */
section {
	padding: 50px 0;
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}

section h3.section-subheading {
	font-size: 16px;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 75px;
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

/* mobile size */
@media all and (max-width: 768px) {
    section {
        padding: 10px 0;
    }
}

/* tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    section {
        padding: 10px 0;
    }
}


/* ================= businessArea ================= */
#businessArea  {
    background: linear-gradient( to top, #edecec, #121213 );
	background-position: center;
	background-repeat: no-repeat;
    height: auto;
    font-family:  "source-han-sans-japanese",sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
    padding : 100px 0;
    padding-bottom : 200px;
}

#businessArea  h2.section-heading {
    color : #ffffff;
    margin-bottom : 50px;
}
#businessArea  span.sub-title {
    color : #ffffff;
    font-size : 25px;
    font-weight: 400;
}
#businessArea  .business_content {
    margin-top : 50px;
}
#businessArea  .business_content .imgdiv img{
    width: 107%; 
    height:auto; 
    vertical-align: middle;
}
#businessArea .business_content .business_text{
    color : #ffffff;
    margin-top : 80px;
}
#businessArea .business_content .business_text div{
   margin-bottom : 20px; 
}
#businessArea .business_content .business_text ul li:nth-child(1){
    font-size:  20px;
    font-weight : 500;
    margin-bottom : 10px;
}
#businessArea .business_content .business_text ul li{
    font-size:  15px;
    font-weight : 200;
    list-style: none;
}



/* mobile size */
@media all and (max-width:767px){
    #businessArea .business_content .business_text{
       text-align: center;
    }
}

/* tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    #businessArea .business_content .business_text{
        text-align: center;
     }
}






/* ================= productOverview section ================= */

#productOverview{
    background: linear-gradient( to top, #ffffff, #edecec );
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    padding-bottom : 200px;
}
#productOverview .titleDiv{
    margin-bottom: 50px;
 }
#tabmenu {
    text-align: center;
}
#tabmenu ul{
    display: block;
    overflow: hidden;
    font-weight: 600;
    margin: 20px 0 0;
    border-radius: 5px;
    text-align: center;
}
#tabmenu ul li{
    display: inline-block;
    float : none;
}

#tabmenu ul li a{
    color: black;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;

    height: 50px;
    font-size: 18px;
    list-style: none;
    line-height: 50px;
    position: relative;

    border-radius: 3px;
    margin-bottom: 5px;
    padding: 0 20px 0 20px;
}
#tabmenu ul li a:hover{
    background: none;
}
#tabmenu ul li.active a{
    margin-bottom: 0;
    box-shadow: 0 2px 11px rgba(0,0,0,.5);
    color: #fff;
    background: #eec748;
}

#tabmenu ul li:not(:last-child){
   margin-right: 16px;
}
#tabmenu .tab-content{
    margin-top: 50px;
 }
#tabmenu .tab-content span.title{
    display: block;
    font-size : 30px;
    font-weight: 500;
    margin-bottom : 8px;
}
#tabmenu .tab-content  span.subtitle{
    font-size : 20px;
    font-weight: 500;
}

#tabmenu .textTitle{
    font-size:  1.8rem;
    font-weight : 600;
    margin-bottom : 10px;
}
#tabmenu .textContent{
    font-size:  1.5rem;
    font-weight : 300;
    /* list-style: none; */
    display : block;
}



/* ======== menu1 ======== */
div#menu1 .imageArea .btn {
    padding: 0;
}
/* div#menu1 .imageArea .col-md-8 {
    margin-left: 50px;
    margin-right: -50px;
} */
div#menu1 .imageArea .col-md-8 img,
div#menu1 .imageArea .col-md-4 img{
    width: 100%; 
    height:auto; 
    vertical-align: middle;
}

div#menu1 .imageArea .col-md-4 div:nth-child(1){
    margin-bottom: 5px;
}
div#menu1 .imageArea{
    width: 100%;
    margin: 30px auto;
}
div#menu1 .modal-dialog{
    width: 70%;
    margin: 30px auto;
}
div#menu1 .imageArea .modal-dialog img{
    width: 100%;
}
div#menu1 .textDiv ul{
    text-align: left;
}
 /* mobile size */
@media all and (max-width: 768px) {
    div#menu1 .textDiv ul{
        text-align: center;
    }
    div#menu1 .imageArea .col-md-8 {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom :6px;
    }
    #tabmenu ul li{
        display: block;
    }
    #tabmenu .menulist li:nth-child(3) a{
        line-height:25px;
    }
    #productOverview #tabmenu .menulist li:nth-child(3) a.active{
        line-height: 25px;
    }
}

/* tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    div#menu1 .imageArea .col-md-4 img{
        width: 100%; 
        height:auto; 
        vertical-align: middle;
    }
    div#menu1 .textDiv ul{
        text-align: center;
    }
    div#menu1 .imageArea .col-md-8 {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom :6px; 
        display: block;
    }
    #tabmenu ul li{
        display: block;
    }
    
}



/* ======== menu2 ======== */
div#menu2 .textDiv {
    text-align: center;
    margin-top :30px; 
}
div#menu2 .imageArea img{
    width: 100%; 
    height:auto; 
    vertical-align: middle;
}

/* ======== menu3 ======== */
#tabmenu .tab-content div#menu3 span.subtitle {
    font-size : 16px;
    font-weight: 500;
}
div#menu3 div.textDiv{
    text-align: left;
    margin-top :30px; 
}
div#menu3 div.textDiv ul{
   text-align: left;
}

div#menu3 div.textDiv ul li{
    display: block;
}
div#menu3 div.textDiv .secUl{
    margin-top: 0px;
}
div#menu3 div.imageArea img{
    width: 107%; 
    height:auto; 
    vertical-align: middle;
}



/* ======== menu4 ======== */
div#menu4 div.textDiv {
    margin-top : 30px;
 }
 div#menu4 div.imageArea img{
    width: 97%; 
    height:auto; 
    vertical-align: middle;
}
/* ======== menu5 ======== */

div#menu5 div.textDiv ul{
    text-align: left;
}
div#menu5 div.imageArea {
    margin-top : 30px;
    text-align: right;
}
div#menu5 div.imageArea img{
    width: 100%; 
    height:auto; 
    vertical-align: middle;
    display: block;
    margin-bottom : 15px;
}
div#menu5 div.imageArea .toolVer{
    font-size:  1.5rem;
    font-weight : 500;
    color : #e6974b;
}
/* ======== productOverview footer ======== */
.productFooter{
    margin-top: 50px;
    text-align: left;
}
.productFooter .productFooter_header{
    margin-bottom : 20px;
}
.productFooter .productFooter_header span{
    padding : 8px 15px;
    font-weight: 600;
    background-color : #eec748; 
}
.productFooter .productFooter_body img{
    margin-right : 10px;
  }
.productFooter .productFooter_body span{
  margin-right : 20px;
}



/* ======== productOverview mobile ======== */ 
@media all and (max-width:767px){
    /* section#productOverview .container {
        padding: 0 15px;
        max-width: 100%;
        width: auto;
    } */
}









/* ================= servieceOverview section ================= */
#servieceOverview{
    background: linear-gradient( to top, #edecec, #ffffff );
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    padding-bottom : 200px;
}

/* ======== menu6 ======== */

div#menu6 div.content div.contentTitle{
    text-align: left;
 }
div#menu6 div.content div.contentCard{
    display: inline;
}
div#menu6 div.content div.contentCard div.card{
    width : 23%;
    border: 2px solid #dcb94e;
    margin-right: 10px;
    padding :0;
}
div#menu6 div.content div.contentCard div.card:last-child{
    width : 23%;
    border: 2px solid #98b33f;
    margin-right: 10px;
    padding :0;
}

div#menu6 div.content div.contentCard div.card:last-child{
    float: right;
}
div#menu6 div.content div.contentCard div.card .card-header{
    border: 2px solid #dcb94e;
    background: #fcf1d0;
    display : block;
    height: 100px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    padding-bottom : 10px;
}
div#menu6 div.content div.contentCard div.card:nth-child(2) .card-header{
    background: #fae8b4;
}
div#menu6 div.content div.contentCard div.card:nth-child(3) .card-header{
    background: #f9e199;
}
div#menu6 div.content div.contentCard div.card:nth-child(4) .card-header{
    border: 2px solid #98b33f;
    background: #bfd461;
    display : block;
    height: 100px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    padding-top : 23px;
    padding-bottom : 23px;
}
div#menu6 div.content div.contentCard div.card .card-header .textTitle,
div#menu6 div.content div.contentCard div.card .card-body .textTitle{
    font-size : 1.5rem;
    margin-bottom : 5px;
    font-weight: 800;
}
div#menu6 div.content div.contentCard div.card .card-header .textContent,
div#menu6 div.content div.contentCard div.card .card-body .textContent{
    font-size : 1.3rem;
    font-weight: 500;
}
div#menu6 div.content div.contentCard div.card .card-header ul,
div#menu6 div.content div.contentCard div.card .card-body ul{
    margin-top: 10px;
    padding : 0;
}
div#menu6 div.content div.contentCard div.card .card-header li,
div#menu6 div.content div.contentCard div.card .card-body li{
    margin: 0;
}
div#menu6 div.content div.contentCard div.card .card-body{
    height: 290px;
    /* background: #ffffff; */
}
div#menu6 div.content div.contentCard div.card .card-body ul{
    text-align: left;
    margin-left : 10px;
    margin-right : 10px;
    margin-bottom : 10px;
}
div#menu6 div.content div.contentCard div.card:nth-child(2) .card-body ul{
    margin-bottom : 16px;
}
div#menu6 div.content div.contentCard div.card:nth-child(3) .card-body ul{
    margin-bottom : 19px;
}
div#menu6 div.content div.contentCard div.card:nth-child(4) .card-body ul{
    margin-bottom : 37px;
}

/* mobile size */
@media all and (max-width: 768px) {
    div#menu6 div.content div.contentCard div.card{
        width : 100%;
    }
    div#menu6 div.content div.contentCard div.card:last-child{
        width : 100%;
        float: none;
    }
    div#menu6 div.content div.contentCard div.card{
        margin-bottom :10px; 
    }
   
}

/* tablet and laptop size */
@media all and (min-width:768px) and (max-width:1024px){
    div#menu6 div.content div.contentCard div.card{
        width : 100%;
        margin-bottom : 10px;
    }
    div#menu6 div.content div.contentCard div.card:last-child{
        width : 100%;
        float: right;
    }
    div#menu6 div.content div.contentCard div.card{
        margin-bottom :10px; 
    }
   
}


/* ======== menu7 ======== */
div#menu7 div.titleDiv{
    margin-bottom : 50px;
}
div#menu7 div.titleDiv span.subtitle{
    font-size: 16px;
    font-weight: 500;
}
div#menu7 div.imageArea{
    margin-bottom : 10px;
}

/* ======== menu8 ======== */
div#menu8 div.titleDiv{
    margin-bottom : 50px;
}
div#menu8 div.titleDiv span.subtitle{
    font-size: 16px;
    font-weight: 500;
}

div#menu8 div.imageArea img{
    width: 70%; 
    height:auto; 
    vertical-align: middle;
    display : block;
    margin-left : auto;
    margin-right : auto;
}
div#menu8 div.imageArea img:nth-child(1){
    margin-bottom : 10px;
}

/* ======== servieceOverview footer ======== */ 
/* productOverview와 공동 사용 */








/* ================= companyinfo ================= */
#companyinfo {
	/*background-image: url(../img/visionbg.png);*/
    background: linear-gradient( to top, #d7d5d5, #121213 );
	background-position: center;
	background-repeat: no-repeat;
    height: auto;
    position: relative;
    padding-bottom : 0;
}


#companyinfo .section-heading {
	/*color: #fff;*/
    color:#fff; 
    text-shadow: 1px 1px 2px gray;
    margin-top: 50px;
    margin-bottom: 150px;
}
#companyinfo .infocontent .laptop{
	float: right;
}

#companyinfo .infocontent{
    color: #fff;
    font-family: "source-han-sans-japanese",sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
    margin-bottom: 100px;
}
#companyinfo ul li:nth-child(1){
    color: #fff;
    font-family: "source-han-sans-japanese",sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
    margin-bottom: 100px;
    font-size:  25px;
    font-weight : 500;
    margin-bottom : 10px;
}
#companyinfo ul li{
    color: #fff;
    font-family: "source-han-sans-japanese",sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
    font-size:  15px;
    font-weight : 200;
    list-style: none;
}


#companyinfo .laptop img{
    width: 100%; 
    max-width: 760px; 
    height:auto; 
    vertical-align: middle
}

/* ================= membership ================= */
#companyinfo .membership{
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding-bottom: 0px;
    padding-top : 0px;
}
#companyinfo .membership .divsecond {
    /* margin-top: 130px; */
    margin-left: -50vw;
    margin-bottom: 0;
    padding-bottom: 20px;
    background-color: #fff;
    width: 100vw;
    position: relative;
    left: 50%;
}
#companyinfo .membership .member{ 
    position: relative;
    left: 5%;   
}

#companyinfo .membership .member img{
    margin-left: 50px;
    margin-top: 20px;
}



/* mobile size */
@media all and (max-width: 768px) {
    #companyinfo {
        height: auto;
    }
    #companyinfo {
        text-align: center;
    }
    #companyinfo .infocontent .laptop{
        margin-bottom: 20px;
    }
    #companyinfo .section-heading {
        margin-bottom: 50px;
    }
    #companyinfo .infocontent{
        color: #fff;
        font-family: "source-han-sans-japanese",sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
        margin-left: 10px;
        margin-right: 10px;
    }
    #companyinfo .infocontent li{
        line-height: 25px;
        font-size: 14px;
    }
    #companyinfo .infocontent p{
        line-height: 25px;
        font-size: 14px;
    }
    #companyinfo .membership .divsecond {
        /* margin-left: 0px; */
    }
    
}
/* tablet and laptop size */
/* @media all and (min-width:768px) and (max-width:1024px){
    
} */





/* ================= footer ================= */

footer {
	padding: 25px 0;
    background-color: #353636;
    color: #a1a1a1;
    font-size: 12px;
    font-family: "source-han-sans-japanese",sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    height: 150px;
}
footer div{
    margin-top: 10px;
}
footer .footerlogo{
    width: 20%;
}
footer .footercontent{
    width: 80%;
    text-align: left;
}
footer span.copyright, footer ul.quicklinks {
	font-family: "source-han-sans-japanese",Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* footer mobile size */
@media all and (max-width :768px) and (max-device-width: 480px) {
    footer {
        height: auto;
        text-align: center;
    }
    footer div{
        margin-top: 0px;
    }
    footer .footerlogo{
        width: auto;
    }
    footer .footercontent{
        margin-top: 20px;
        width: auto;
        text-align: center;
    }
}


/* ================= errorPage ================= */

.errorPage{
    height: 100%;
    text-align: center;
    margin-bottom: 500px;   
}
.errorPage a{
    color: #121213;
    background-color: #dcb94e;
}


/* ================= Layer Pop-up ================= */
#pop{
    width : 80%;
    max-width: 500px;
    height : auto;
    background:#ffffff;
    color:black;
    position:fixed;

    top:100px;
    left: 50%;
    transform:translateX(-50%);
    text-align:center;

    /*border:2px solid #000;*/
    border: 2px solid gainsboro;
    border-radius: 25px;

    padding: 10px;
    padding-bottom : 30px;
}
#pop .pop-body{
    margin-top : 50px;
}
#pop .pop-footer{
    margin-top : 80px;
}

@media all and (max-width:467px){
    #pop{
        padding: 10px;
    }
    #pop .section-heading{
        font-size: 15px;
        margin-top : 0;
    }
    #pop .pop-body{
        margin-top : 10px;
    }
    #pop .pop-footer{
        margin-top : 10px;
    }
    #pop p{
        font-size: 10px;
    }
    #pop hr{
        margin-top:5px; 
        margin-bottom:5px; 
    }
}



::-moz-selection {
	text-shadow: none;
	background: #fed136
}

::selection {
	text-shadow: none;
	background: #fed136
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
}

