<% include ../header.ejs %>
    <body>
        <div class="container errorPage">
            <h3> ERROR - 404 </h3>
            <hr>
            <h3> ERROR - 404 </h3>
            <a type="button" class="btn btn-lg btn-defualt" href="/">Go Main</a>
        </div>
    </body>
        <script>

        </script>

<% include ../footer.ejs %>